@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Playfair+Display:ital,wght@0,400..900;1,400..900");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.blue-div {
  background-color: #0891b2;
  width: 100vw;
  height: 30vh;
  position: relative;
}

.white-div {
  transform-origin: top;
  z-index: -1;
  transform-origin: bottom;
  transform: skewY(-1.8deg);
  border-right: 20px solid red;
  /* transform: skewX(50deg); */
  background-color: white;

  /* border: ; */
}

#about-me-heading {
  font-size: 1.7em;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 450;
  color: black;
  margin-bottom: 5%;
}

.about-me {
  font-family: "Roboto", "Times New Roman", Times, serif;
  position: absolute;
  z-index: 1;
  height: auto;
  max-width: 23vw;
  background-color: white;
  color: rgb(107, 106, 106);
  left: 43vw;
  line-height: 1.5;
  font-size: max(1em, 1.2em);
  top: 15vh;
  box-shadow: 5px 5px 10px -3px rgb(29, 29, 29);
  padding: 2% 2% 2% 7%;
}

#blue-triangle {
  height: 0;
  width: 0;
  position: absolute;
  border-left: 0 solid #0891b2;
  border-right: 100vw solid transparent;
  border-top: 15vh solid #0891b2;
  border-bottom: 0 solid transparent;
  top: 30vh;
}

#logos {
  display: flex;
  justify-content: space-around;
  max-height: 7em;
  max-width: 7em;
  margin-left: 70%;
  margin-top: 10%;
}

#github-logo,
#linkedin-logo,
#twitter-logo {
  height: auto;
}

#github-logo {
  flex: 1;
}

#linkedin-logo {
  flex: 1;
  fill: darkblue;
}

#twitter-logo {
  flex: 1;
  fill: rgb(64, 179, 224);
}

#content {
  position: relative;
  top: 60vh;
}

#grid-div {
  position: static;
  display: grid;
  width: auto;
  height: auto;
  row-gap: 100px;
  margin-left: 0;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.card {
  height: 700px;
  width: 500px;
  box-shadow: 5px 5px 10px 0.5px rgb(101, 101, 101);
}

#blue-box-end {
  background-color: #0891b2;
  width: 100vw;
  height: auto;
  margin-top: 10vh;
  padding-top: 5%;
  display: flex;
}

#text-content-end-div {
  flex: 1;
  color: white;
  margin-left: 5%;
}

#about-me-heading-end-div {
  font-size: max(2em, 2.5em);
}

#conclusion-line {
  margin-top: 2%;
  font-size: max(1.5em, 1.2em);
}

#address-line {
  margin-top: 5%;
  font-size: max(1.5em, 1.2em);
}

#image {
  flex: 1.5;
}

#image-end {
  width: 40vw;
  height: auto;
}

@media (max-device-width: 768px) {
  .about-me {
    box-shadow: none;
    left: 0;
    top: 45vh;
    font-size: 3vw;
    max-width: 100vw;
    font-size: max(1em, 1.2em);
  }

  #about-me-heading {
    text-align: center;
  }

  #logos {
    margin: auto;
    padding-top: 10%;
    justify-content: center;
  }

  #grid-div {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .card {
    height: 300px;
    width: 300px;
    margin: auto;
    justify-content: center;
    box-shadow: 5px 5px 10px 0.5px rgb(101, 101, 101);
  }

  #blue-box-end {
    display: block;
  }

  #image,
  #image-end {
    width: 100%;
    overflow: hidden;
  }

  #image {
    margin-top: 5%;
  }

  #image-end {
    height: 100%;
    width: 100%;
  }
}
